/* LOGIN SCREEN VALENTINE */
#valentineScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fbe7e3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.heartBox {
  text-align: center;
}

.bigHeart {
  width: 260px;
  height: 230px;
  background: #8b1c1c;
  position: relative;
  transform: rotate(-45deg);
}

.bigHeart::before,
.bigHeart::after {
  content: "";
  width: 260px;
  height: 230px;
  background: #8b1c1c;
  border-radius: 50%;
  position: absolute;
}

.bigHeart::before {
  top: -130px;
  left: 0;
}

.bigHeart::after {
  left: 130px;
  top: 0;
}

.heartText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  color: white;
  text-align: center;
}

.heartText h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

#enterBtn {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background: white;
  color: #8b1c1c;
  font-weight: bold;
  cursor: pointer;
}

#enterBtn:hover {
  background: pink;
}
